.lukasiju-mnu.activated span::before {
    top: 0;
    transform: rotate(135deg);
    transition: top 0.4s 0s, transform 0.4s 0.4s, background-color 0.82s 0.1s;
    transition-property: top, transform, background-color;
    transition-duration: 0.4s, 0.4s, 0.82s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0.4s, 0.1s;
}

.lukasiju-mnu span::before {
top: -7px;
top: -0.5rem;
transition: top 0.4s 0.4s, transform 0.4s 0s, background-color 0.82s 0.1s;
}
.lukasiju-mnu span::before,.lukasiju-mnu span::after {
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background-color: #ffffff;
border-radius: 1px;
content: ' ';
}

.lukasiju-mnu.activated span::after {
bottom: 0;
transform: rotate(-135deg);
transition: bottom 0.4s 0s, transform 0.4s 0.4s, background-color 0.82s 0.1s;
}

.lukasiju-mnu span::after {
bottom: -7px;
bottom: -0.5rem;
transition: bottom 0.4s 0.4s, transform 0.4s 0s, background-color 0.82s 0.1s;
}
.lukasiju-mnu {
z-index: 999;
padding: 2.7rem 0;
cursor: pointer;
background-color: none;
box-shadow: none;
display: block;
position: absolute;
top: 20px;
padding: 0;
right: 5%;
line-height: 0;
height: 50px;
width: auto;
color: transparent;
z-index: 999;
transition: none;


}
.lukasiju-mnu span {
display: block;
position: relative;
height: 2px;
background: #ffffff;
transition: background 0s 0.4s;
width: 30px;
margin: 0;
border-radius: 1px;
box-shadow: none;


}
.lukasiju-mnu.activated span {
background: none;
}

#btn {
    
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
}



@media screen and (min-width:900px) {
    #btn{
        display: none; 
    }
}