html, body {
  background-color:whitesmoke;
  overflow-x: hidden;
  margin: 0 auto;
  }
logo {
  
  font-family: 'Russo One', sans-serif;
  font-size: 42px;
  color: whitesmoke;
}

#name {
  color: aliceblue;
  margin: auto;
  padding-top: 100px;
  width: 70%;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 56px;
}

.heading {
  font-family: 'Roboto', 'sans-serif';
  font-size: 56px;
  color: rgba(77, 73, 73, 0.952);
  text-align: center;
}

.footer {
  border-top: 1px solid #d3c8c8;
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: rgb(136, 128, 128);
  text-align: center;
}


@media screen and (max-width: 899px){
  #name {
    font-size: 48px;
  }
}

@media screen and (max-width: 899px){
  #name , .heading {
    font-size: 48px;
  }
  logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 764px){
  #name, .heading {
    font-size: 32px;
  }
}